# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List commonly used tools for Data Science
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit
3. Matplotlib
4. Numpy
5. ggplot2

| Data Science Tools |
| - |
| RStudio |
| Jupyter Notebooks |
| Anaconda Toolbox
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python...

In [3]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hr = min/60
print(hr)

3.3333333333333335

## Author
Ulric Pattillo III